.font-yellow_smal{
color:#FFB848
}

ul>li.yellow_smal,.label-yellow_smal{
background:#FFB848
}

.progress .bar.bar-yellow_smal{
background:#FFB848
}

.pricing-tables .pricing.yellow_smal>li.head{
background:#FFB848
}

.pricing-tables .pricing.yellow_smal>li.head .info{
background:#4c9ae3
}

.pricing-tables .pricing.yellow_smal>li.head .name{
background:#1e74c5
}

.btn.btn-yellow_smal{
background:#FFB848;color:#fff !important
}

.btn.btn-yellow_smal:hover{
background:#1e74c5
}

.box.box-color.yellow_smal .box-title{
background:#FFB848 !important
}

.box.box-color.yellow_smal .box-title .actions>a:hover{
color:#FFB848
}

.box.box-color.yellow_smal .form-wizard .wizard-steps li.active .single-step .title{
background:#FFB848
}

.box.box-color.yellow_smal .btn.btn-primary{
background:#FFB848
}

.box.box-bordered.box-color.yellow_smal .box-title{
border-color:#FFB848 !important
}

.box.box-bordered.box-color.yellow_smal .box-content{
border-color:#FFB848 !important
}

.box.box-bordered.box-color.yellow_smal .slimScrollDiv{
border-bottom:2px solid #FFB848
}

.timeline>li .timeline-content .left .icon.yellow_smal{
background:#FFB848
}

.theme-yellow_smal #navigation .dropdown-menu{
border-color:#FFB848
}

.theme-yellow_smal #navigation .dropdown-menu>li.dropdown-submenu .dropdown-menu{
border-top:2px solid #FFB848
}

.theme-yellow_smal #navigation .dropdown-menu>li.dropdown-submenu:hover>a,.theme-yellow_smal #navigation .dropdown-menu>li.dropdown-submenu:focus>a{
background:#FFB848
}

.theme-yellow_smal #navigation .dropdown-menu>li>a:hover{
background:#FFB848
}

.theme-yellow_smal .datepicker.datepicker-dropdown .datepicker-days .active,.theme-yellow_smal .datepicker.datepicker-dropdown .datepicker-years .active,.theme-yellow_smal .datepicker.datepicker-dropdown .datepicker-months .active{
background:#FFB848
}

.theme-yellow_smal .datepicker.datepicker-dropdown .datepicker-days .active:hover,.theme-yellow_smal .datepicker.datepicker-dropdown .datepicker-years .active:hover,.theme-yellow_smal .datepicker.datepicker-dropdown .datepicker-months .active:hover{
background:#1e74c5
}

.theme-yellow_smal .form-wizard .wizard-steps li.active .single-step .title{
background:#FFB848
}

.theme-yellow_smal .btn.btn-primary{
background:#FFB848
}

.theme-yellow_smal.login{
background:#FFB848
}

.theme-yellow_smal a{
color:#FFB848
}

.theme-yellow_smal .btn{
color:#333
}

.theme-yellow_smal .btn.btn-primary{
background:#FFB848;color:#fff
}

.theme-yellow_smal .btn.btn-inverse,.theme-yellow_smal .btn.btn-success,.theme-yellow_smal .btn.btn-danger{
color:#fff
}

.theme-yellow_smal.locked{
background:#FFB848 !important
}

.theme-yellow_smal.locked .pull-left a{
background:#1b67af
}

.theme-yellow_smal.locked .pull-left a:hover{
background:#144d82
}

.theme-yellow_smal #navigation{
background:#FFB848
}

.theme-yellow_smal #navigation .toggle-mobile{
background:#1b67af
}

.theme-yellow_smal #navigation .mobile-nav.open{
background:#FFB848
}

.theme-yellow_smal #navigation .mobile-nav.open>li.active>a{
background:#144d82
}

.theme-yellow_smal #navigation .mobile-nav.open>li.active>ul{
background:#144d82
}

.theme-yellow_smal #navigation .mobile-nav.open>li>a{
background:#1b67af
}

.theme-yellow_smal #navigation .mobile-nav.open>li>ul{
background:#1b67af
}

.theme-yellow_smal #navigation .main-nav>li.active>a:hover{
background:#fff
}

.theme-yellow_smal #navigation .main-nav>li.active.open>a{
background:#fff
}

.theme-yellow_smal #navigation .main-nav>li.open>a{
background:#1b67af
}

.theme-yellow_smal #navigation .main-nav>li>a:hover{
background:#1b67af
}

.theme-yellow_smal #navigation .user .icon-nav>li>a:hover{
background:#1b67af
}

.theme-yellow_smal #navigation .user .dropdown.open{
background:#1b67af
}

.theme-yellow_smal #navigation .user .dropdown>a:hover{
background:#1b67af
}

.theme-yellow_smal #navigation .dropdown-menu{
border-color:#FFB848
}

.theme-yellow_smal #navigation .dropdown-menu>li>a:hover{
background:#FFB848
}

.theme-yellow_smal .search-form .search-pane button[type="submit"]{
background:#FFB848
}

.theme-yellow_smal .messages>li.insert .submit button{
background:#FFB848
}

.theme-yellow_smal .messages>li.right .name{
color:#0a2640
}

.theme-yellow_smal .messages>li.right .message{
background:#e7f1fb
}

.theme-yellow_smal .messages>li.right .message p{
color:#11406c
}

.theme-yellow_smal .messages>li.right .message .time{
color:#11406c
}

.theme-yellow_smal .messages>li.right .message .caret{
border-left:7px solid #e7f1fb
}

.theme-yellow_smal .letterbox .letter>li.active{
background:#FFB848
}

.theme-yellow_smal .calendar .fc-content .fc-event .fc-event-inner{
background:#FFB848
}

.theme-yellow_smal .calendar .fc-button.fc-state-active{
background:#FFB848
}

.theme-yellow_smal .calendar .fc-button.fc-state-active:hover{
background:#FFB848
}

.theme-yellow_smal .table.table-user tr.alpha td.alpha-val span{
background:#FFB848
}

.theme-yellow_smal .tagsinput#textfield_tagsinput .tag,.theme-yellow_smal .ms-container .multi-custom-header,.theme-yellow_smal .slider .ui-slider-handle,.theme-yellow_smal .form-wizard .wizard-steps li.active .single-step .title,.theme-yellow_smal .user-list h4,.theme-yellow_smal .nav.nav-pills>li.active>a,.theme-yellow_smal .nav.nav-list>li.active>a,.theme-yellow_smal .table.table-colored-header thead th,.theme-yellow_smal .table.table-colored-header thead td,.theme-yellow_smal .dataTables_wrapper .dataTables_paginate>span>a.paginate_active,.theme-yellow_smal .elfinder-navbar .ui-state-active,.theme-yellow_smal .pagination.pagination-custom li.active a:hover,.theme-yellow_smal .pagination.pagination-custom li.active a{
background:#FFB848
}

.theme-yellow_smal .elfinder-navbar .ui-state-active{
border-color:#FFB848
}

.theme-yellow_smal #main .box .box-title .tabs>li.active>a{
background:#FFB848
}

.theme-yellow_smal #main .box.box-color .box-title{
background:#FFB848
}

.theme-yellow_smal #main .box.box-color .box-title .tabs>li.active>a{
background:#fff;color:#FFB848
}

.theme-yellow_smal #main .box.box-bordered.box-color .box-title{
border-color:#FFB848
}

.theme-yellow_smal #main .box.box-bordered.box-color .box-content{
border-color:#FFB848
}

.font-purple_smal{
color:#852B99
}

ul>li.purple_smal,.label-purple_smal{
background:#852B99
}

.progress .bar.bar-purple_smal{
background:#852B99
}

.pricing-tables .pricing.purple_smal>li.head{
background:#852B99
}

.pricing-tables .pricing.purple_smal>li.head .info{
background:#4c9ae3
}

.pricing-tables .pricing.purple_smal>li.head .name{
background:#1e74c5
}

.btn.btn-purple_smal{
background:#852B99;color:#fff !important
}

.btn.btn-purple_smal:hover{
background:#1e74c5
}

.box.box-color.purple_smal .box-title{
background:#852B99 !important
}

.box.box-color.purple_smal .box-title .actions>a:hover{
color:#852B99
}

.box.box-color.purple_smal .form-wizard .wizard-steps li.active .single-step .title{
background:#852B99
}

.box.box-color.purple_smal .btn.btn-primary{
background:#852B99
}

.box.box-bordered.box-color.purple_smal .box-title{
border-color:#852B99 !important
}

.box.box-bordered.box-color.purple_smal .box-content{
border-color:#852B99 !important
}

.box.box-bordered.box-color.purple_smal .slimScrollDiv{
border-bottom:2px solid #852B99
}

.timeline>li .timeline-content .left .icon.purple_smal{
background:#852B99
}

.theme-purple_smal #navigation .dropdown-menu{
border-color:#852B99
}

.theme-purple_smal #navigation .dropdown-menu>li.dropdown-submenu .dropdown-menu{
border-top:2px solid #852B99
}

.theme-purple_smal #navigation .dropdown-menu>li.dropdown-submenu:hover>a,.theme-purple_smal #navigation .dropdown-menu>li.dropdown-submenu:focus>a{
background:#852B99
}

.theme-purple_smal #navigation .dropdown-menu>li>a:hover{
background:#852B99
}

.theme-purple_smal .datepicker.datepicker-dropdown .datepicker-days .active,.theme-purple_smal .datepicker.datepicker-dropdown .datepicker-years .active,.theme-purple_smal .datepicker.datepicker-dropdown .datepicker-months .active{
background:#852B99
}

.theme-purple_smal .datepicker.datepicker-dropdown .datepicker-days .active:hover,.theme-purple_smal .datepicker.datepicker-dropdown .datepicker-years .active:hover,.theme-purple_smal .datepicker.datepicker-dropdown .datepicker-months .active:hover{
background:#1e74c5
}

.theme-purple_smal .form-wizard .wizard-steps li.active .single-step .title{
background:#852B99
}

.theme-purple_smal .btn.btn-primary{
background:#852B99
}

.theme-purple_smal.login{
background:#852B99
}

.theme-purple_smal a{
color:#852B99
}

.theme-purple_smal .btn{
color:#333
}

.theme-purple_smal .btn.btn-primary{
background:#852B99;color:#fff
}

.theme-purple_smal .btn.btn-inverse,.theme-purple_smal .btn.btn-success,.theme-purple_smal .btn.btn-danger{
color:#fff
}

.theme-purple_smal.locked{
background:#852B99 !important
}

.theme-purple_smal.locked .pull-left a{
background:#1b67af
}

.theme-purple_smal.locked .pull-left a:hover{
background:#144d82
}

.theme-purple_smal #navigation{
background:#852B99
}

.theme-purple_smal #navigation .toggle-mobile{
background:#1b67af
}

.theme-purple_smal #navigation .mobile-nav.open{
background:#852B99
}

.theme-purple_smal #navigation .mobile-nav.open>li.active>a{
background:#144d82
}

.theme-purple_smal #navigation .mobile-nav.open>li.active>ul{
background:#144d82
}

.theme-purple_smal #navigation .mobile-nav.open>li>a{
background:#1b67af
}

.theme-purple_smal #navigation .mobile-nav.open>li>ul{
background:#1b67af
}

.theme-purple_smal #navigation .main-nav>li.active>a:hover{
background:#fff
}

.theme-purple_smal #navigation .main-nav>li.active.open>a{
background:#fff
}

.theme-purple_smal #navigation .main-nav>li.open>a{
background:#1b67af
}

.theme-purple_smal #navigation .main-nav>li>a:hover{
background:#1b67af
}

.theme-purple_smal #navigation .user .icon-nav>li>a:hover{
background:#1b67af
}

.theme-purple_smal #navigation .user .dropdown.open{
background:#1b67af
}

.theme-purple_smal #navigation .user .dropdown>a:hover{
background:#1b67af
}

.theme-purple_smal #navigation .dropdown-menu{
border-color:#852B99
}

.theme-purple_smal #navigation .dropdown-menu>li>a:hover{
background:#852B99
}

.theme-purple_smal .search-form .search-pane button[type="submit"]{
background:#852B99
}

.theme-purple_smal .messages>li.insert .submit button{
background:#852B99
}

.theme-purple_smal .messages>li.right .name{
color:#0a2640
}

.theme-purple_smal .messages>li.right .message{
background:#e7f1fb
}

.theme-purple_smal .messages>li.right .message p{
color:#11406c
}

.theme-purple_smal .messages>li.right .message .time{
color:#11406c
}

.theme-purple_smal .messages>li.right .message .caret{
border-left:7px solid #e7f1fb
}

.theme-purple_smal .letterbox .letter>li.active{
background:#852B99
}

.theme-purple_smal .calendar .fc-content .fc-event .fc-event-inner{
background:#852B99
}

.theme-purple_smal .calendar .fc-button.fc-state-active{
background:#852B99
}

.theme-purple_smal .calendar .fc-button.fc-state-active:hover{
background:#852B99
}

.theme-purple_smal .table.table-user tr.alpha td.alpha-val span{
background:#852B99
}

.theme-purple_smal .tagsinput#textfield_tagsinput .tag,.theme-purple_smal .ms-container .multi-custom-header,.theme-purple_smal .slider .ui-slider-handle,.theme-purple_smal .form-wizard .wizard-steps li.active .single-step .title,.theme-purple_smal .user-list h4,.theme-purple_smal .nav.nav-pills>li.active>a,.theme-purple_smal .nav.nav-list>li.active>a,.theme-purple_smal .table.table-colored-header thead th,.theme-purple_smal .table.table-colored-header thead td,.theme-purple_smal .dataTables_wrapper .dataTables_paginate>span>a.paginate_active,.theme-purple_smal .elfinder-navbar .ui-state-active,.theme-purple_smal .pagination.pagination-custom li.active a:hover,.theme-purple_smal .pagination.pagination-custom li.active a{
background:#852B99
}

.theme-purple_smal .elfinder-navbar .ui-state-active{
border-color:#852B99
}

.theme-purple_smal #main .box .box-title .tabs>li.active>a{
background:#852B99
}

.theme-purple_smal #main .box.box-color .box-title{
background:#852B99
}

.theme-purple_smal #main .box.box-color .box-title .tabs>li.active>a{
background:#fff;color:#852B99
}

.theme-purple_smal #main .box.box-bordered.box-color .box-title{
border-color:#852B99
}

.theme-purple_smal #main .box.box-bordered.box-color .box-content{
border-color:#852B99
}

.font-dark_smal{
color:#555555
}

ul>li.dark_smal,.label-dark_smal{
background:#555555
}

.progress .bar.bar-dark_smal{
background:#555555
}

.pricing-tables .pricing.dark_smal>li.head{
background:#555555
}

.pricing-tables .pricing.dark_smal>li.head .info{
background:#4c9ae3
}

.pricing-tables .pricing.dark_smal>li.head .name{
background:#1e74c5
}

.btn.btn-dark_smal{
background:#555555;color:#fff !important
}

.btn.btn-dark_smal:hover{
background:#1e74c5
}

.box.box-color.dark_smal .box-title{
background:#555555 !important
}

.box.box-color.dark_smal .box-title .actions>a:hover{
color:#555555
}

.box.box-color.dark_smal .form-wizard .wizard-steps li.active .single-step .title{
background:#555555
}

.box.box-color.dark_smal .btn.btn-primary{
background:#555555
}

.box.box-bordered.box-color.dark_smal .box-title{
border-color:#555555 !important
}

.box.box-bordered.box-color.dark_smal .box-content{
border-color:#555555 !important
}

.box.box-bordered.box-color.dark_smal .slimScrollDiv{
border-bottom:2px solid #555555
}

.timeline>li .timeline-content .left .icon.dark_smal{
background:#555555
}

.theme-dark_smal #navigation .dropdown-menu{
border-color:#555555
}

.theme-dark_smal #navigation .dropdown-menu>li.dropdown-submenu .dropdown-menu{
border-top:2px solid #555555
}

.theme-dark_smal #navigation .dropdown-menu>li.dropdown-submenu:hover>a,.theme-dark_smal #navigation .dropdown-menu>li.dropdown-submenu:focus>a{
background:#555555
}

.theme-dark_smal #navigation .dropdown-menu>li>a:hover{
background:#555555
}

.theme-dark_smal .datepicker.datepicker-dropdown .datepicker-days .active,.theme-dark_smal .datepicker.datepicker-dropdown .datepicker-years .active,.theme-dark_smal .datepicker.datepicker-dropdown .datepicker-months .active{
background:#555555
}

.theme-dark_smal .datepicker.datepicker-dropdown .datepicker-days .active:hover,.theme-dark_smal .datepicker.datepicker-dropdown .datepicker-years .active:hover,.theme-dark_smal .datepicker.datepicker-dropdown .datepicker-months .active:hover{
background:#1e74c5
}

.theme-dark_smal .form-wizard .wizard-steps li.active .single-step .title{
background:#555555
}

.theme-dark_smal .btn.btn-primary{
background:#555555
}

.theme-dark_smal.login{
background:#555555
}

.theme-dark_smal a{
color:#555555
}

.theme-dark_smal .btn{
color:#333
}

.theme-dark_smal .btn.btn-primary{
background:#555555;color:#fff
}

.theme-dark_smal .btn.btn-inverse,.theme-dark_smal .btn.btn-success,.theme-dark_smal .btn.btn-danger{
color:#fff
}

.theme-dark_smal.locked{
background:#555555 !important
}

.theme-dark_smal.locked .pull-left a{
background:#1b67af
}

.theme-dark_smal.locked .pull-left a:hover{
background:#144d82
}

.theme-dark_smal #navigation{
background:#555555
}

.theme-dark_smal #navigation .toggle-mobile{
background:#1b67af
}

.theme-dark_smal #navigation .mobile-nav.open{
background:#555555
}

.theme-dark_smal #navigation .mobile-nav.open>li.active>a{
background:#144d82
}

.theme-dark_smal #navigation .mobile-nav.open>li.active>ul{
background:#144d82
}

.theme-dark_smal #navigation .mobile-nav.open>li>a{
background:#1b67af
}

.theme-dark_smal #navigation .mobile-nav.open>li>ul{
background:#1b67af
}

.theme-dark_smal #navigation .main-nav>li.active>a:hover{
background:#fff
}

.theme-dark_smal #navigation .main-nav>li.active.open>a{
background:#fff
}

.theme-dark_smal #navigation .main-nav>li.open>a{
background:#1b67af
}

.theme-dark_smal #navigation .main-nav>li>a:hover{
background:#1b67af
}

.theme-dark_smal #navigation .user .icon-nav>li>a:hover{
background:#1b67af
}

.theme-dark_smal #navigation .user .dropdown.open{
background:#1b67af
}

.theme-dark_smal #navigation .user .dropdown>a:hover{
background:#1b67af
}

.theme-dark_smal #navigation .dropdown-menu{
border-color:#555555
}

.theme-dark_smal #navigation .dropdown-menu>li>a:hover{
background:#555555
}

.theme-dark_smal .search-form .search-pane button[type="submit"]{
background:#555555
}

.theme-dark_smal .messages>li.insert .submit button{
background:#555555
}

.theme-dark_smal .messages>li.right .name{
color:#0a2640
}

.theme-dark_smal .messages>li.right .message{
background:#e7f1fb
}

.theme-dark_smal .messages>li.right .message p{
color:#11406c
}

.theme-dark_smal .messages>li.right .message .time{
color:#11406c
}

.theme-dark_smal .messages>li.right .message .caret{
border-left:7px solid #e7f1fb
}

.theme-dark_smal .letterbox .letter>li.active{
background:#555555
}

.theme-dark_smal .calendar .fc-content .fc-event .fc-event-inner{
background:#555555
}

.theme-dark_smal .calendar .fc-button.fc-state-active{
background:#555555
}

.theme-dark_smal .calendar .fc-button.fc-state-active:hover{
background:#555555
}

.theme-dark_smal .table.table-user tr.alpha td.alpha-val span{
background:#555555
}

.theme-dark_smal .tagsinput#textfield_tagsinput .tag,.theme-dark_smal .ms-container .multi-custom-header,.theme-dark_smal .slider .ui-slider-handle,.theme-dark_smal .form-wizard .wizard-steps li.active .single-step .title,.theme-dark_smal .user-list h4,.theme-dark_smal .nav.nav-pills>li.active>a,.theme-dark_smal .nav.nav-list>li.active>a,.theme-dark_smal .table.table-colored-header thead th,.theme-dark_smal .table.table-colored-header thead td,.theme-dark_smal .dataTables_wrapper .dataTables_paginate>span>a.paginate_active,.theme-dark_smal .elfinder-navbar .ui-state-active,.theme-dark_smal .pagination.pagination-custom li.active a:hover,.theme-dark_smal .pagination.pagination-custom li.active a{
background:#555555
}

.theme-dark_smal .elfinder-navbar .ui-state-active{
border-color:#555555
}

.theme-dark_smal #main .box .box-title .tabs>li.active>a{
background:#555555
}

.theme-dark_smal #main .box.box-color .box-title{
background:#555555
}

.theme-dark_smal #main .box.box-color .box-title .tabs>li.active>a{
background:#fff;color:#555555
}

.theme-dark_smal #main .box.box-bordered.box-color .box-title{
border-color:#555555
}

.theme-dark_smal #main .box.box-bordered.box-color .box-content{
border-color:#555555
}

.font-dark_blue_smal{
color:#005683
}

ul>li.dark_blue_smal,.label-dark_blue_smal{
background:#005683
}

.progress .bar.bar-dark_blue_smal{
background:#005683
}

.pricing-tables .pricing.dark_blue_smal>li.head{
background:#005683
}

.pricing-tables .pricing.dark_blue_smal>li.head .info{
background:#4c9ae3
}

.pricing-tables .pricing.dark_blue_smal>li.head .name{
background:#1e74c5
}

.btn.btn-dark_blue_smal{
background:#005683;color:#fff !important
}

.btn.btn-dark_blue_smal:hover{
background:#1e74c5
}

.box.box-color.dark_blue_smal .box-title{
background:#005683 !important
}

.box.box-color.dark_blue_smal .box-title .actions>a:hover{
color:#005683
}

.box.box-color.dark_blue_smal .form-wizard .wizard-steps li.active .single-step .title{
background:#005683
}

.box.box-color.dark_blue_smal .btn.btn-primary{
background:#005683
}

.box.box-bordered.box-color.dark_blue_smal .box-title{
border-color:#005683 !important
}

.box.box-bordered.box-color.dark_blue_smal .box-content{
border-color:#005683 !important
}

.box.box-bordered.box-color.dark_blue_smal .slimScrollDiv{
border-bottom:2px solid #005683
}

.timeline>li .timeline-content .left .icon.dark_blue_smal{
background:#005683
}

.theme-dark_blue_smal #navigation .dropdown-menu{
border-color:#005683
}

.theme-dark_blue_smal #navigation .dropdown-menu>li.dropdown-submenu .dropdown-menu{
border-top:2px solid #005683
}

.theme-dark_blue_smal #navigation .dropdown-menu>li.dropdown-submenu:hover>a,.theme-dark_blue_smal #navigation .dropdown-menu>li.dropdown-submenu:focus>a{
background:#005683
}

.theme-dark_blue_smal #navigation .dropdown-menu>li>a:hover{
background:#005683
}

.theme-dark_blue_smal .datepicker.datepicker-dropdown .datepicker-days .active,.theme-dark_blue_smal .datepicker.datepicker-dropdown .datepicker-years .active,.theme-dark_blue_smal .datepicker.datepicker-dropdown .datepicker-months .active{
background:#005683
}

.theme-dark_blue_smal .datepicker.datepicker-dropdown .datepicker-days .active:hover,.theme-dark_blue_smal .datepicker.datepicker-dropdown .datepicker-years .active:hover,.theme-dark_blue_smal .datepicker.datepicker-dropdown .datepicker-months .active:hover{
background:#1e74c5
}

.theme-dark_blue_smal .form-wizard .wizard-steps li.active .single-step .title{
background:#005683
}

.theme-dark_blue_smal .btn.btn-primary{
background:#005683
}

.theme-dark_blue_smal.login{
background:#005683
}

.theme-dark_blue_smal a{
color:#005683
}

.theme-dark_blue_smal .btn{
color:#333
}

.theme-dark_blue_smal .btn.btn-primary{
background:#005683;color:#fff
}

.theme-dark_blue_smal .btn.btn-inverse,.theme-dark_blue_smal .btn.btn-success,.theme-dark_blue_smal .btn.btn-danger{
color:#fff
}

.theme-dark_blue_smal.locked{
background:#005683 !important
}

.theme-dark_blue_smal.locked .pull-left a{
background:#1b67af
}

.theme-dark_blue_smal.locked .pull-left a:hover{
background:#144d82
}

.theme-dark_blue_smal #navigation{
background:#005683
}

.theme-dark_blue_smal #navigation .toggle-mobile{
background:#1b67af
}

.theme-dark_blue_smal #navigation .mobile-nav.open{
background:#005683
}

.theme-dark_blue_smal #navigation .mobile-nav.open>li.active>a{
background:#144d82
}

.theme-dark_blue_smal #navigation .mobile-nav.open>li.active>ul{
background:#144d82
}

.theme-dark_blue_smal #navigation .mobile-nav.open>li>a{
background:#1b67af
}

.theme-dark_blue_smal #navigation .mobile-nav.open>li>ul{
background:#1b67af
}

.theme-dark_blue_smal #navigation .main-nav>li.active>a:hover{
background:#fff
}

.theme-dark_blue_smal #navigation .main-nav>li.active.open>a{
background:#fff
}

.theme-dark_blue_smal #navigation .main-nav>li.open>a{
background:#1b67af
}

.theme-dark_blue_smal #navigation .main-nav>li>a:hover{
background:#1b67af
}

.theme-dark_blue_smal #navigation .user .icon-nav>li>a:hover{
background:#1b67af
}

.theme-dark_blue_smal #navigation .user .dropdown.open{
background:#1b67af
}

.theme-dark_blue_smal #navigation .user .dropdown>a:hover{
background:#1b67af
}

.theme-dark_blue_smal #navigation .dropdown-menu{
border-color:#005683
}

.theme-dark_blue_smal #navigation .dropdown-menu>li>a:hover{
background:#005683
}

.theme-dark_blue_smal .search-form .search-pane button[type="submit"]{
background:#005683
}

.theme-dark_blue_smal .messages>li.insert .submit button{
background:#005683
}

.theme-dark_blue_smal .messages>li.right .name{
color:#0a2640
}

.theme-dark_blue_smal .messages>li.right .message{
background:#e7f1fb
}

.theme-dark_blue_smal .messages>li.right .message p{
color:#11406c
}

.theme-dark_blue_smal .messages>li.right .message .time{
color:#11406c
}

.theme-dark_blue_smal .messages>li.right .message .caret{
border-left:7px solid #e7f1fb
}

.theme-dark_blue_smal .letterbox .letter>li.active{
background:#005683
}

.theme-dark_blue_smal .calendar .fc-content .fc-event .fc-event-inner{
background:#005683
}

.theme-dark_blue_smal .calendar .fc-button.fc-state-active{
background:#005683
}

.theme-dark_blue_smal .calendar .fc-button.fc-state-active:hover{
background:#005683
}

.theme-dark_blue_smal .table.table-user tr.alpha td.alpha-val span{
background:#005683
}

.theme-dark_blue_smal .tagsinput#textfield_tagsinput .tag,.theme-dark_blue_smal .ms-container .multi-custom-header,.theme-dark_blue_smal .slider .ui-slider-handle,.theme-dark_blue_smal .form-wizard .wizard-steps li.active .single-step .title,.theme-dark_blue_smal .user-list h4,.theme-dark_blue_smal .nav.nav-pills>li.active>a,.theme-dark_blue_smal .nav.nav-list>li.active>a,.theme-dark_blue_smal .table.table-colored-header thead th,.theme-dark_blue_smal .table.table-colored-header thead td,.theme-dark_blue_smal .dataTables_wrapper .dataTables_paginate>span>a.paginate_active,.theme-dark_blue_smal .elfinder-navbar .ui-state-active,.theme-dark_blue_smal .pagination.pagination-custom li.active a:hover,.theme-dark_blue_smal .pagination.pagination-custom li.active a{
background:#005683
}

.theme-dark_blue_smal .elfinder-navbar .ui-state-active{
border-color:#005683
}

.theme-dark_blue_smal #main .box .box-title .tabs>li.active>a{
background:#005683
}

.theme-dark_blue_smal #main .box.box-color .box-title{
background:#005683
}

.theme-dark_blue_smal #main .box.box-color .box-title .tabs>li.active>a{
background:#fff;color:#005683
}

.theme-dark_blue_smal #main .box.box-bordered.box-color .box-title{
border-color:#005683
}

.theme-dark_blue_smal #main .box.box-bordered.box-color .box-content{
border-color:#005683
}

.font-dark_orange_smal{
color:#D53F26
}

ul>li.dark_orange_smal,.label-dark_orange_smal{
background:#D53F26
}

.progress .bar.bar-dark_orange_smal{
background:#D53F26
}

.pricing-tables .pricing.dark_orange_smal>li.head{
background:#D53F26
}

.pricing-tables .pricing.dark_orange_smal>li.head .info{
background:#4c9ae3
}

.pricing-tables .pricing.dark_orange_smal>li.head .name{
background:#1e74c5
}

.btn.btn-dark_orange_smal{
background:#D53F26;color:#fff !important
}

.btn.btn-dark_orange_smal:hover{
background:#1e74c5
}

.box.box-color.dark_orange_smal .box-title{
background:#D53F26 !important
}

.box.box-color.dark_orange_smal .box-title .actions>a:hover{
color:#D53F26
}

.box.box-color.dark_orange_smal .form-wizard .wizard-steps li.active .single-step .title{
background:#D53F26
}

.box.box-color.dark_orange_smal .btn.btn-primary{
background:#D53F26
}

.box.box-bordered.box-color.dark_orange_smal .box-title{
border-color:#D53F26 !important
}

.box.box-bordered.box-color.dark_orange_smal .box-content{
border-color:#D53F26 !important
}

.box.box-bordered.box-color.dark_orange_smal .slimScrollDiv{
border-bottom:2px solid #D53F26
}

.timeline>li .timeline-content .left .icon.dark_orange_smal{
background:#D53F26
}

.theme-dark_orange_smal #navigation .dropdown-menu{
border-color:#D53F26
}

.theme-dark_orange_smal #navigation .dropdown-menu>li.dropdown-submenu .dropdown-menu{
border-top:2px solid #D53F26
}

.theme-dark_orange_smal #navigation .dropdown-menu>li.dropdown-submenu:hover>a,.theme-dark_orange_smal #navigation .dropdown-menu>li.dropdown-submenu:focus>a{
background:#D53F26
}

.theme-dark_orange_smal #navigation .dropdown-menu>li>a:hover{
background:#D53F26
}

.theme-dark_orange_smal .datepicker.datepicker-dropdown .datepicker-days .active,.theme-dark_orange_smal .datepicker.datepicker-dropdown .datepicker-years .active,.theme-dark_orange_smal .datepicker.datepicker-dropdown .datepicker-months .active{
background:#D53F26
}

.theme-dark_orange_smal .datepicker.datepicker-dropdown .datepicker-days .active:hover,.theme-dark_orange_smal .datepicker.datepicker-dropdown .datepicker-years .active:hover,.theme-dark_orange_smal .datepicker.datepicker-dropdown .datepicker-months .active:hover{
background:#1e74c5
}

.theme-dark_orange_smal .form-wizard .wizard-steps li.active .single-step .title{
background:#D53F26
}

.theme-dark_orange_smal .btn.btn-primary{
background:#D53F26
}

.theme-dark_orange_smal.login{
background:#D53F26
}

.theme-dark_orange_smal a{
color:#D53F26
}

.theme-dark_orange_smal .btn{
color:#333
}

.theme-dark_orange_smal .btn.btn-primary{
background:#D53F26;color:#fff
}

.theme-dark_orange_smal .btn.btn-inverse,.theme-dark_orange_smal .btn.btn-success,.theme-dark_orange_smal .btn.btn-danger{
color:#fff
}

.theme-dark_orange_smal.locked{
background:#D53F26 !important
}

.theme-dark_orange_smal.locked .pull-left a{
background:#1b67af
}

.theme-dark_orange_smal.locked .pull-left a:hover{
background:#144d82
}

.theme-dark_orange_smal #navigation{
background:#D53F26
}

.theme-dark_orange_smal #navigation .toggle-mobile{
background:#1b67af
}

.theme-dark_orange_smal #navigation .mobile-nav.open{
background:#D53F26
}

.theme-dark_orange_smal #navigation .mobile-nav.open>li.active>a{
background:#144d82
}

.theme-dark_orange_smal #navigation .mobile-nav.open>li.active>ul{
background:#144d82
}

.theme-dark_orange_smal #navigation .mobile-nav.open>li>a{
background:#1b67af
}

.theme-dark_orange_smal #navigation .mobile-nav.open>li>ul{
background:#1b67af
}

.theme-dark_orange_smal #navigation .main-nav>li.active>a:hover{
background:#fff
}

.theme-dark_orange_smal #navigation .main-nav>li.active.open>a{
background:#fff
}

.theme-dark_orange_smal #navigation .main-nav>li.open>a{
background:#1b67af
}

.theme-dark_orange_smal #navigation .main-nav>li>a:hover{
background:#1b67af
}

.theme-dark_orange_smal #navigation .user .icon-nav>li>a:hover{
background:#1b67af
}

.theme-dark_orange_smal #navigation .user .dropdown.open{
background:#1b67af
}

.theme-dark_orange_smal #navigation .user .dropdown>a:hover{
background:#1b67af
}

.theme-dark_orange_smal #navigation .dropdown-menu{
border-color:#D53F26
}

.theme-dark_orange_smal #navigation .dropdown-menu>li>a:hover{
background:#D53F26
}

.theme-dark_orange_smal .search-form .search-pane button[type="submit"]{
background:#D53F26
}

.theme-dark_orange_smal .messages>li.insert .submit button{
background:#D53F26
}

.theme-dark_orange_smal .messages>li.right .name{
color:#0a2640
}

.theme-dark_orange_smal .messages>li.right .message{
background:#e7f1fb
}

.theme-dark_orange_smal .messages>li.right .message p{
color:#11406c
}

.theme-dark_orange_smal .messages>li.right .message .time{
color:#11406c
}

.theme-dark_orange_smal .messages>li.right .message .caret{
border-left:7px solid #e7f1fb
}

.theme-dark_orange_smal .letterbox .letter>li.active{
background:#D53F26
}

.theme-dark_orange_smal .calendar .fc-content .fc-event .fc-event-inner{
background:#D53F26
}

.theme-dark_orange_smal .calendar .fc-button.fc-state-active{
background:#D53F26
}

.theme-dark_orange_smal .calendar .fc-button.fc-state-active:hover{
background:#D53F26
}

.theme-dark_orange_smal .table.table-user tr.alpha td.alpha-val span{
background:#D53F26
}

.theme-dark_orange_smal .tagsinput#textfield_tagsinput .tag,.theme-dark_orange_smal .ms-container .multi-custom-header,.theme-dark_orange_smal .slider .ui-slider-handle,.theme-dark_orange_smal .form-wizard .wizard-steps li.active .single-step .title,.theme-dark_orange_smal .user-list h4,.theme-dark_orange_smal .nav.nav-pills>li.active>a,.theme-dark_orange_smal .nav.nav-list>li.active>a,.theme-dark_orange_smal .table.table-colored-header thead th,.theme-dark_orange_smal .table.table-colored-header thead td,.theme-dark_orange_smal .dataTables_wrapper .dataTables_paginate>span>a.paginate_active,.theme-dark_orange_smal .elfinder-navbar .ui-state-active,.theme-dark_orange_smal .pagination.pagination-custom li.active a:hover,.theme-dark_orange_smal .pagination.pagination-custom li.active a{
background:#D53F26
}

.theme-dark_orange_smal .elfinder-navbar .ui-state-active{
border-color:#D53F26
}

.theme-dark_orange_smal #main .box .box-title .tabs>li.active>a{
background:#D53F26
}

.theme-dark_orange_smal #main .box.box-color .box-title{
background:#D53F26
}

.theme-dark_orange_smal #main .box.box-color .box-title .tabs>li.active>a{
background:#fff;color:#D53F26
}

.theme-dark_orange_smal #main .box.box-bordered.box-color .box-title{
border-color:#D53F26
}

.theme-dark_orange_smal #main .box.box-bordered.box-color .box-content{
border-color:#D53F26
}


.font-dark_blue_smal{
color:#253E56
}

ul>li.dark_blue_smal,.label-dark_blue_smal{
background:#253E56
}

.progress .bar.bar-dark_blue_smal{
background:#253E56
}

.pricing-tables .pricing.dark_blue_smal>li.head{
background:#253E56
}

.pricing-tables .pricing.dark_blue_smal>li.head .info{
background:#4c9ae3
}

.pricing-tables .pricing.dark_blue_smal>li.head .name{
background:#1e74c5
}

.btn.btn-dark_blue_smal{
background:#253E56;color:#fff !important
}

.btn.btn-dark_blue_smal:hover{
background:#1e74c5
}

.box.box-color.dark_blue_smal .box-title{
background:#253E56 !important
}

.box.box-color.dark_blue_smal .box-title .actions>a:hover{
color:#253E56
}

.box.box-color.dark_blue_smal .form-wizard .wizard-steps li.active .single-step .title{
background:#253E56
}

.box.box-color.dark_blue_smal .btn.btn-primary{
background:#253E56
}

.box.box-bordered.box-color.dark_blue_smal .box-title{
border-color:#253E56 !important
}

.box.box-bordered.box-color.dark_blue_smal .box-content{
border-color:#253E56 !important
}

.box.box-bordered.box-color.dark_blue_smal .slimScrollDiv{
border-bottom:2px solid #253E56
}

.timeline>li .timeline-content .left .icon.dark_blue_smal{
background:#253E56
}

.theme-dark_blue_smal #navigation .dropdown-menu{
border-color:#253E56
}

.theme-dark_blue_smal #navigation .dropdown-menu>li.dropdown-submenu .dropdown-menu{
border-top:2px solid #253E56
}

.theme-dark_blue_smal #navigation .dropdown-menu>li.dropdown-submenu:hover>a,.theme-dark_blue_smal #navigation .dropdown-menu>li.dropdown-submenu:focus>a{
background:#253E56
}

.theme-dark_blue_smal #navigation .dropdown-menu>li>a:hover{
background:#253E56
}

.theme-dark_blue_smal .datepicker.datepicker-dropdown .datepicker-days .active,.theme-dark_blue_smal .datepicker.datepicker-dropdown .datepicker-years .active,.theme-dark_blue_smal .datepicker.datepicker-dropdown .datepicker-months .active{
background:#253E56
}

.theme-dark_blue_smal .datepicker.datepicker-dropdown .datepicker-days .active:hover,.theme-dark_blue_smal .datepicker.datepicker-dropdown .datepicker-years .active:hover,.theme-dark_blue_smal .datepicker.datepicker-dropdown .datepicker-months .active:hover{
background:#1e74c5
}

.theme-dark_blue_smal .form-wizard .wizard-steps li.active .single-step .title{
background:#253E56
}

.theme-dark_blue_smal .btn.btn-primary{
background:#253E56
}

.theme-dark_blue_smal.login{
background:#253E56
}

.theme-dark_blue_smal a{
color:#253E56
}

.theme-dark_blue_smal .btn{
color:#333
}

.theme-dark_blue_smal .btn.btn-primary{
background:#253E56;color:#fff
}

.theme-dark_blue_smal .btn.btn-inverse,.theme-dark_blue_smal .btn.btn-success,.theme-dark_blue_smal .btn.btn-danger{
color:#fff
}

.theme-dark_blue_smal.locked{
background:#253E56 !important
}

.theme-dark_blue_smal.locked .pull-left a{
background:#1b67af
}

.theme-dark_blue_smal.locked .pull-left a:hover{
background:#144d82
}

.theme-dark_blue_smal #navigation{
background:#253E56
}

.theme-dark_blue_smal #navigation .toggle-mobile{
background:#1b67af
}

.theme-dark_blue_smal #navigation .mobile-nav.open{
background:#253E56
}

.theme-dark_blue_smal #navigation .mobile-nav.open>li.active>a{
background:#144d82
}

.theme-dark_blue_smal #navigation .mobile-nav.open>li.active>ul{
background:#144d82
}

.theme-dark_blue_smal #navigation .mobile-nav.open>li>a{
background:#1b67af
}

.theme-dark_blue_smal #navigation .mobile-nav.open>li>ul{
background:#1b67af
}

.theme-dark_blue_smal #navigation .main-nav>li.active>a:hover{
background:#fff
}

.theme-dark_blue_smal #navigation .main-nav>li.active.open>a{
background:#fff
}

.theme-dark_blue_smal #navigation .main-nav>li.open>a{
background:#1b67af
}

.theme-dark_blue_smal #navigation .main-nav>li>a:hover{
background:#1b67af
}

.theme-dark_blue_smal #navigation .user .icon-nav>li>a:hover{
background:#1b67af
}

.theme-dark_blue_smal #navigation .user .dropdown.open{
background:#1b67af
}

.theme-dark_blue_smal #navigation .user .dropdown>a:hover{
background:#1b67af
}

.theme-dark_blue_smal #navigation .dropdown-menu{
border-color:#253E56
}

.theme-dark_blue_smal #navigation .dropdown-menu>li>a:hover{
background:#253E56
}

.theme-dark_blue_smal .search-form .search-pane button[type="submit"]{
background:#253E56
}

.theme-dark_blue_smal .messages>li.insert .submit button{
background:#253E56
}

.theme-dark_blue_smal .messages>li.right .name{
color:#0a2640
}

.theme-dark_blue_smal .messages>li.right .message{
background:#e7f1fb
}

.theme-dark_blue_smal .messages>li.right .message p{
color:#11406c
}

.theme-dark_blue_smal .messages>li.right .message .time{
color:#11406c
}

.theme-dark_blue_smal .messages>li.right .message .caret{
border-left:7px solid #e7f1fb
}

.theme-dark_blue_smal .letterbox .letter>li.active{
background:#253E56
}

.theme-dark_blue_smal .calendar .fc-content .fc-event .fc-event-inner{
background:#253E56
}

.theme-dark_blue_smal .calendar .fc-button.fc-state-active{
background:#253E56
}

.theme-dark_blue_smal .calendar .fc-button.fc-state-active:hover{
background:#253E56
}

.theme-dark_blue_smal .table.table-user tr.alpha td.alpha-val span{
background:#253E56
}

.theme-dark_blue_smal .tagsinput#textfield_tagsinput .tag,.theme-dark_blue_smal .ms-container .multi-custom-header,.theme-dark_blue_smal .slider .ui-slider-handle,.theme-dark_blue_smal .form-wizard .wizard-steps li.active .single-step .title,.theme-dark_blue_smal .user-list h4,.theme-dark_blue_smal .nav.nav-pills>li.active>a,.theme-dark_blue_smal .nav.nav-list>li.active>a,.theme-dark_blue_smal .table.table-colored-header thead th,.theme-dark_blue_smal .table.table-colored-header thead td,.theme-dark_blue_smal .dataTables_wrapper .dataTables_paginate>span>a.paginate_active,.theme-dark_blue_smal .elfinder-navbar .ui-state-active,.theme-dark_blue_smal .pagination.pagination-custom li.active a:hover,.theme-dark_blue_smal .pagination.pagination-custom li.active a{
background:#253E56
}

.theme-dark_blue_smal .elfinder-navbar .ui-state-active{
border-color:#253E56
}

.theme-dark_blue_smal #main .box .box-title .tabs>li.active>a{
background:#253E56
}

.theme-dark_blue_smal #main .box.box-color .box-title{
background:#253E56
}

.theme-dark_blue_smal #main .box.box-color .box-title .tabs>li.active>a{
background:#fff;color:#253E56
}

.theme-dark_blue_smal #main .box.box-bordered.box-color .box-title{
border-color:#253E56
}

.theme-dark_blue_smal #main .box.box-bordered.box-color .box-content{
border-color:#253E56
}

